{
    email {$ACME_EMAIL}
    on_demand_tls {
        ask http://app:8080/internal/tls-check
    }
}

api.endport.io {
    reverse_proxy app:8080 {
        header_up X-Real-IP {remote_host}
    }
}

https:// {
    tls {
        on_demand
    }
    reverse_proxy app:8080 {
        header_up X-Real-IP {remote_host}
    }
}
